* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 50px;
    color: blue;
}

.ingredients {
    font-size: 20px;
    color: black;
}

ol {
    font-size: 25px;
    color: black;
}